*{
    padding: 0;     /*Universal styling */
    margin:0;
    box-sizing: border-box;
}
/* The following are the variables defined which are frequently used */
:root{
    --button-color:rgba(255,224,26,255);
    --btn-radius: 22px;
    --bigger-font:'Times New Roman', Times, serif;
    --smaller-font: Arial, Helvetica, sans-serif;
}
/* Brand link styling ------------*/
.brand-link{
    height:30px;
    background-color: white;
}
/* Offer pannel -------------------*/
.offer-panel{
    height: 59.09px;
    font-size: 13px;
    color: white;
    font-family: 'Inter', sans-serif;
    background-color: #241c15;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offer { 
    color: inherit;
    border-bottom: 1px dashed; 
    text-decoration: none; 
}
.offer:hover {
    border-bottom: none; 
}
/* Styling of navigation bar------------- */
.nav-bar {
    height: 68px;
    padding: 12px 16px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; /* This includes padding and border in the height */
    position:sticky; /* So that it sticks to the top of the website*/
    top: 0;
    z-index: 1000;
    background-color: white;
}

.logo {
    height:38.33px;
    width:36px;
    background-color: white;
    transition: transform 0.05s ease-out; 
}
.logo:hover {
    transform: rotate(-20deg);
}
.logo-section{
    display:flex;
}

/* The idea is to create two flex items nav-left and nav-right and use the flex 
property of space-between*/

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

}
.left-list{
    list-style-type: none;
    display:flex; 
    font-size:13px;
    font-weight:600;
    justify-content: space-between;
}
.left-list li {
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.left-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
    text-align: center; 
    text-decoration: none;
    color: black;
}

.left-list li:hover {
    background-color: rgb(243, 243, 243);
    transition: all 0.3s ease;
}
.left-nav{
    display: flex;
    align-items: center;
}
.drop-down{
    /* border: none; */
    /* margin-right: 16px; */
    font-weight:600;
    text-decoration: none;
    color: black;
}

.more-opt{
    margin: 16px;
}

.right-nav{
    width:523.43px;
    font-size:13px;
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* Mega dropdown base styles */
.mega-dropdown {
    display:none;
    position: absolute;
    left: -10.75vw;
    right:0px;
    top: 2.7vw;
    width: 99.5vw;
    height:40vw;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    border-top: 1px solid rgb(234, 232, 232);
}
.head1-drop h3{
    font-family:var(--bigger-font) ;
    font-size: 24px;
}
.ss-leftdrop{
    height:100%;
    width:60.8vw;
    border-right:1px solid rgb(227, 226, 226);
   display: flex;
   justify-content: flex-end;
}

.ss-leftcontent{
    height:100%;
    width:826.67px;
    padding:10px 40px;
}
.mega-content{
    display:flex;
}
.mega-right{
    position: absolute;
    top:0;
    left:60.8vw;
    height: 40vw;
    width:38.7vw;
    background-color: rgba(246,246,244,255);
}
.head1-drop{
    display:flex;
    justify-content: space-between;
}
.box{
    display:flex;
    width:235.56px; 
    height:64.25px;
    padding: 6px 8px;
}
.left-list li {
    position: relative;
    /* margin-right: 20px;
    margin-left: 20px; */
}
.main-content{
    display:flex;
    margin:32px 0px 0px;
    gap:2rem;
}
.box:hover{
    background-color: rgb(234, 232, 232) ;
}
.box p{
    font-weight: 300;
}
#solutions{
    font-family: var(--bigger-font);
}
.mega-rtext{
    font-size: 13px;
    margin-bottom: 8px;
    padding: 6px 8px;
    font-weight: 300;
    color:#241C15;
    text-align: left;
}
.mega-rtext:hover{
    background-color: rgb(234, 232, 232);
}
.toggle {
    transition: transform 0.3s ease;  /* Smooth rotation transition */
}

.rotate {
    transform: rotate(180deg);  /* Rotation for the icon */
}
/* Styling of resourses dropdown */
.resourse-dropdown{
    display:none;
    position: absolute;
    left: -24.75vw;
    right:0px;
    top: 2.7vw;
    width: 99.5vw;
    height:30vw;
    background-color:white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    border-top: 1px solid rgb(234, 232, 232);

}
.resourse-leftdrop{
    height:100%;
    width:60.8vw;
    border-right:1px solid rgb(227, 226, 226);
   display: flex;
   justify-content: flex-end;
}
.resourse-leftcontent{
    height:100%;
    width:826.67px;
    padding:10px 40px;
}
.mega-rtext2{
    margin:0px 0px 12px;
}
.resource-right{
    position: absolute;
    top:0;
    left:60.8vw;
    height: 30vw;
    width:38.7vw;
    background-color: rgba(246,246,244,255);

}
.reso-click:hover{
    background-color: rgb(234, 232, 232);
}

/* Styling of the button */

.menu-btn {
    text-align: center;
    width: 96.63px;
    height: 43.5px;
    font-weight: 550;
    border: 1px solid black;
    border-radius: var(--btn-radius);
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    box-shadow: none; /* No shadow initially */
}

#menu-btn2 {
    background-color: var(--button-color);
}

#menu-btn1 {
    background-color: white;
}

.menu-btn:hover {
    transform: translateY(-5px); /* Moves up by 5px */
    box-shadow: 0 5px 0 black; /* Bold shadow below */
}

/* Styling of the hero section---------------*/
.hero-container{
    color: #241c15;
    padding:84px 0px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 20vw 0px 20vw;
}
.hero-text1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 550;
}
.hero-text2{
    margin-top: 16px;
    font-size:24px;
}

/* The following container is visible for small screen sizes */
.small-container{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    gap: 8px;
}
.fa-bars {
    font-size: 20px; 
    width: 30px;     
    height: 20px;   
    line-height: 20px; 
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
}

#menu-btn3{
    width: 96.63px;
    height: 43.5px;
    font-weight:600;
    border:1px solid black;
    border-radius: var(--btn-radius);
    background-color: white;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    box-shadow: none; /* No shadow initially */
}
#menu-btn3:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 0 black; 
}
#search-icon{
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#search-icon:hover{
    background-color:rgb(243, 243, 243); ;
}
#globe-icon{
    height:36px;
    width:76.36px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#en{
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#globe-icon:hover{
    background-color:rgb(243, 243, 243); ;
}
#sales{
    width:177.93px; 
    height:30.3px;
    display: flex; 
    justify-content: center;
     align-items: center;
}
#sales:hover{
    background-color:rgb(243, 243, 243); ;
}
/* Media queries for navigation-bar---------------*/

@media (max-width: 1270px) {
    .nav-menu {
        display: none;
    }
    #search-icon{
        display:none;
    }
    #globe-icon{
        display:none;
    }
    #sales{
        display:none;
    }
    .hide1 {
        display: none;
    }
    .hide2 {
        display: block; 
    }
     .nav-bar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
    } 
}
@media (max-width:750px){
    .hide-login{
        display:none;
    }
}
@media (min-width: 1270px) {
    .hide1 {
        display: block; 
    }
    .hide2 {
        display: none;
    }
}

/* Styling of img cards----------------------*/
.img-cards{
    display:flex;
    width:100%;
    height:36.88vw;
    
} 
 .img1 {
    width: 25%;
    height: 100%;
   
    background-image: url("img1.avif");
    background-size: cover;
    display:flex;
    justify-content: center;
    padding: 2.5vw 2.5vw 0px 2.5vw;
}

.img2{
    width: 25%;
    height: 100%; 
    
    background-image: url("img2.avif");
    background-size: cover;
    display:flex;
    justify-content: center;
    padding: 2.5vw 2.5vw 0px 2.5vw;
}
 .img3{
    width: 25%;
    height: 100%; 
    
    background-image: url("img3.avif");
    background-size: cover;
    display:flex;
    justify-content: center;
    padding: 2.5vw 2.5vw 0px 2.5vw;
} 
 .img4{
    width: 25%;
    height: 100%; 
     
    background-image: url("img4.avif");
    background-size: cover; 
    display:flex;
    justify-content: center;
    padding: 2.5vw 2.5vw 0px 2.5vw;
} 
 .cards-text{
    color:#241c15;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.cards-text:hover{
    text-decoration: underline;
} 
 .feature-card{
    width:100%;
    height:231.5px;
    
    display:flex;
}
.card1{
    width: 25%;
    height:100%;
    
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
    background-color: rgba(215,150,55,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.card-text{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:#241C15;  
}
#card1-btn{
    width:235.57px;
    height:43.5px;
    margin: 24px 0px 0px;
    background-color: rgba(215,150,55,255);
}
.card2{
    width: 25%;
    height:100%;
   
    padding: 40px;
    background-color: rgba(245,245,245,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card2-btn{
    width:145.18px;
    height:43.5px;
    margin: 24px 0px 0px;
    background-color:rgba(245,245,245,255) ;
}
.card3{
    width: 25%;
    height:100%;
    
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color:#241C15;
    background-color: rgba(230,185,95,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card3-btn{
    width:240.93px;
    height:43.5px;
    background-color:  rgba(230,185,95,255);
    margin: 24px 0px 0px;
    
}
.card4{
    width: 25%;
    height:100%;
   
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color:#241C15;
    background-color: rgba(235,225,205,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card4-btn{
    width:227.73px;
    height:43.5px;
    background-color: rgba(235,225,205,255) ;
    margin: 24px 0px 0px;    
} 
/*Cards for small screen sizes*/
.small-cards1, .small-cards2{
    display:none;
    width:100%;
    height:62vw;
}
.sm-img1 {
    height:50%;
    width:100%;
    background-image: url("small-img1.png");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}

.sm-card1{
    width:50%;
    height:100%;
    background-color:rgba(215,150,55,255) ;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.sm-img2 {
    height:50%;
    width:100%;
    background-image: url("small-img2.png");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm-card2{
    width:50%;
    height:100%;
    background-color:rgba(245,245,245,255) ;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sm-img3 {
    height:50%;
    width:100%;
    background-image: url("small-img3.png");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm-card3{
    width:50%;
    height:100%;
    background-color:rgba(230,185,95,255) ;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sm-img4 {
    height:50%;
    width:100%;
    background-image: url("small-img4.png");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm-card4{
    width:50%;
    height:100%;
    background-color: rgba(235,225,205,255);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sm2-card1 {
    display: none;
    width: 100%;
    height: 110vw;
    padding: 24px;
    background-color: rgba(215,150,55,255);
}

.sm2-img1 {
    width: 100%;
    height: 62%; /* Allow height to adjust based on the image aspect ratio */
    background-image: url("image1.avif");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm2-card2 {
    display: none;
    width: 100%;
    height: 110vw;
    padding: 24px;
    background-color:rgba(245,245,245,255) ;
}

.sm2-img2 {
    width: 100%;
    height: 62%; /* Allow height to adjust based on the image aspect ratio */
    background-image: url("image2.avif");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm2-card3 {
    display: none;
    width: 100%;
    height: 110vw;
    padding: 24px;
    background-color:rgba(230,185,95,255) ;
}

.sm2-img3{
    width: 100%;
    height: 62%; /* Allow height to adjust based on the image aspect ratio */
    background-image: url("image3.png");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}
.sm2-card4 {
    display: none;
    width: 100%;
    height: 110vw;
    padding: 24px;
    background-color: rgba(235,225,205,255);
}

.sm2-img4 {
    width: 100%;
    height: 62%; /* Allow height to adjust based on the image aspect ratio */
    background-image: url("image4.avif");
    background-size: contain; /* Scale image proportionally */
    background-position: center;
    background-repeat: no-repeat;
}



/* Media queries for medium screen sizes */
 @media (min-width: 1348px) and (max-width: 1548px) {
    .feature-card{
        height:259.5px;
    }      
}
@media (min-width: 1098px) and (max-width: 1348px) {
    .feature-card{
        height:211.5px;
    }      
} 
@media (min-width: 1016px) and (max-width: 1098px) {
    .feature-card{
        height:231px;
    }   
    #card1-btn, #card3-btn{
        height:63px;
    }
    
    .card1, .card2, .card3, .card4{
        padding: 16px ;
    }
} 
@media (min-width: 992px) and (max-width: 1016px) {
    .feature-card{
        height:259px;
    }  
    .card1, .card2, .card3, .card4{
        padding: 16px ;
    }    
    #card1-btn, #card3-btn, #card4-btn{
        height:63px;
    }   
    
} 
@media (max-width: 993px) {
    .img-cards, .feature-card{
        display:none;
    }
    .small-cards1, .small-cards2{
        display:flex;
        
    }
}
/* Media query for small cards when both images and cards combine */
@media (min-width:890px) and (max-width: 900px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:70vw;
    }
}
@media (min-width:819px) and (max-width: 890px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:70vw;
    }
}
@media (min-width:769px) and (max-width: 819px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:75vw;
    }
}
@media (min-width:700px) and (max-width: 769px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:75vw;
    }
}
@media (min-width:600px) and (max-width: 700px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:80vw;
    }
}
@media (min-width:570px) and (max-width: 600px) {
    .small-cards1, .small-cards2{
        width:100%;
        height:90vw;
    }
}
@media(max-width: 570px){
    .small-cards1, .small-cards2{
        display:none;
    }
    .sm2-card1, .sm2-card2, .sm2-card3, .sm2-card4{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
/* Styling for module 1*/
.section1{
    width:100%;
    height:39vw;
    border:2px solid black;
    background-color: #231E15;
    padding:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.module-text{
    color:white;
    padding:64px;
    display:grid;
    grid-template-columns: 0.359fr 0.635fr;
    gap:8rem;
}
.sec-text1{
    padding:0px 0px 64px;
}
.sec-text1 h2{
    padding:0px 0px 16px;
}
.sec-text2{
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:6rem;
}
.grid-bullet1{
    margin:-24px;
    padding:24px;
}

/* Media quries for module 1 */
@media (min-width: 1100px) and (max-width:1200px){
    .section1{
        height:46vw;
        width:100%;
    }
}
@media (min-width: 991px) and (max-width:1100px){
    .section1{
        height:60vw;
        width:100%;
    }
}
@media (min-width: 848px) and (max-width:991px){
    .section1{
        width:100%;
        height:70vw;
    }
    .module-text{
        height:60vw;
        display:flex;
        flex-direction: column;
        align-content: center;
        gap:0rem;
    }
    .sec-text2{
        display:grid;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap:6rem;
        column-gap: 0rem;
    }
}
@media (min-width: 748px) and (max-width:848px){
    .section1{
        width:100%;
        height:85vw;
    }
    .module-text{
        height:70vw;
        display:flex;
        flex-direction: column;
        align-content: center;
        gap:0rem;
    }
    .sec-text2{
        display:grid;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap:6rem;
        column-gap: 0rem;
    }
}
@media (max-width: 748px){
    .section1{
        width:100%;
        height:120vw;
        background-color: #231E15;
        padding:32px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .module-text{
        color:white;
        padding:32px;
        display:flex;
        flex-direction: column;
        gap:0px;
    }
    .sec-text1{
        padding:0px 0px 40px ;
    }
    .sec-text2{
        display:flex;
        gap:4rem;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }
}
@media(max-width:587px){
    .section1{
        height:200vw;
        display:flex;

    }
}
@media(max-width:400px){
    .section1{
        height:330vw;
        display:flex;
        
    }
    module-text{
        height:300vw;
        display: flex;
    }
}@media(max-width:300px){
    .section1{
        height:350vw;
        display:flex;
        padding: 16px;
    }
    .module-text{
        height:300vw;
        display: flex;
    }
    .sec-text1 h2{
        font-size: 24px;
    }
}
/* Styling for section two */

.section2{
    width:100%;
    height:38vw;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod2-text h2{
    font-size: 40px;
    font-family: var(--bigger-font);
    margin-right: 7.5vw;
}
.mod2-text p{
    font-size: 16px;
    font-family: var(--smaller-font);
    margin:24px 7.2vw 1.5vw 0px;
}
.mod2-text a{
    font-size: 16px;
    font-family: var(--smaller-font);
}
.mod2-img{
    height:26.36vw;
    width:38.1vw;
    background-image: url("module2-img.avif");
    background-size: cover;
}

.mod2-text{
    width:640px;
    height:30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Initial button styling */
.slider {
    width: 264.18px;
    height: 32px;
    border: 1px solid white;
    background-color: white; /* Initial background color */
    text-align: left;
    border-radius: var(--btn-radius);
    position: relative;
    background-image: linear-gradient(to right,white 50%, var(--button-color) 50%);
    background-size: 200% 100%; /* Double the width for the sliding effect */
    background-position: left bottom; /* Starts with white on the full button */
    transition: background-position 0.4s ease-out; /* Smooth transition */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-arrow{
    width:30px;
    height:30px;
    border-radius: 50%;
    align-content: center;
    background-color: var(--button-color);
    border: none;
}
/* On hover, background fills from right to left */
.slider:hover {
    background-position: right bottom; /* Moves background to create the fill effect */
    justify-content: center;
}
.slider-arrow:hover{
    /* border-radius: 0%; */
    width:28px;
    height:28px;
}
/* Media query for module 2 */
@media (min-width:1100px) and (max-width:1180px){
    .section2{
        height:47vw;
    }
}
@media (min-width:992px) and (max-width:1100px){
    .section2{
        height:55vw;
    }
}
@media (min-width:670px) and (max-width:992px){
    .section2{
        width:100%;
        height:105vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f5f5f5; 
    }
    .mod2-img{
        height:60vw;
        width:82.9vw;
        background-image: url("module2-img.avif");
        background-size: cover;
    }
    
}
@media (max-width: 670px) {
    .section2 {
        width: 100%;
        height: 200vw; /* Allow height to adjust */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center contents */
        background-color: #f5f5f5;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        margin: 0 auto;
    }

    .mod2-text {
        width: 90%; /* Ensure text does not overflow */
        margin: 0 auto;
        z-index: 1; /* Text above the image */
        margin-bottom: 20px; /* Add space below text */
        font-size: 7vw;
    }

    .mod2-img {
        width: 100%;
        height: 60vw; /* Allow height to adjust */
        background-image: url("module2-img.avif");
        background-size: cover;
        margin-top: 20px; /* Push image down */
    }

    .mod2-text p {
        overflow-wrap: break-word; /* Ensure text wraps */
        margin-bottom: 16px; /* Additional space below paragraph */
    }

    .slider {
        z-index: 2; /* Button stays on top */
        position: relative; /* Ensure button does not overlap */
    }
}
/* Styling for section 3 */
.section3{
    height:553.84px;
    padding: 0px 0px 32px;
    background-color:#f5f5f5;
  
}
.mod3-text{
    height: 20.57vw;
    width:831.6px;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.mod3-card{
    width:370px;
    height:461.84px;
    margin-right: 7vw;
    background-color: white;
    padding: 32px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
}
.mod3-card h2{
    margin:0px 0px 16px;
    font-family: var(--bigger-font);
}
.mod3-text h2{
    font-family: var(--bigger-font);
    font-size: 48px;
    margin: 0px 0px 24px;
}
.mod3-card p{
    font-family: var(--smaller-font);
    color: #403B3B;
}
.contact-box{
    width:306px;
    height: 70px;
    border:1px solid rgb(232, 228, 228);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}
.mod3-text p{
    font-family: var(--smaller-font);
    font-size: 16px;
    overflow-wrap: break-word; 
    margin: 0px 0px 24px;
}
.mod3-slide{
    margin:24px 0px;
    width:133.54px;
    height:32px;
    border: 1px solid #f5f5f5;
    background-image: linear-gradient(to right,#f5f5f5 50%, var(--button-color) 50%);
}
.module3{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.list ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
    gap: 10px; /* Space between the list items */
    font-family: var(--smaller-font);
    font-size: 13px;
    margin: 0 0 24px 0;
    list-style-type: none;
    padding: 0; /* Remove any padding */
}

.list ul li {
    margin: 0 0 10px 0; /* Adjust margin as needed */
}
.tick-circle{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: var(--button-color);
    align-content: center;
}
.currency select{
    border: none;
    align-content: end;
    background-color: #f5f5f5;
}
.currency {
    display: flex;
    justify-content: flex-end; /* Aligns the <select> to the right */
    margin-right: 7vw;
}
.mod3-col2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.money{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.buy{
    width:306px;
    height:43.5px;
   margin-top: 10px;
   background-color: var(--button-color);
}
.imp:hover{
    background-color: var(--button-color);
}
.hide-card{
    display:none;
}
.hide5{
    display:none;
}
/* Media query for Module 3  for medium screen sizes  */
@media (min-width:810px) and (max-width:992px){
    .section3{
        height:80vw;
        padding: 0px 0px 32px;
        background-color:#f5f5f5;
       margin-right: 0px;;
    }
    .mod3-text{
        margin: 0px 0px 2vw;
    }
    .mod3-text h2{
        font-family: var(--bigger-font);
        font-size: 48px;
        margin: 4vw;
    }
    .module3{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0px 7.5vw;
        justify-content: center;
    }
    .mod3-text p{
        padding-bottom: 16px;
        padding-right: 2vw;
        font-family: var(--smaller-font);
        font-size: 16px;
        word-wrap: break-word; /* Ensure long words wrap */
        overflow-wrap: break-word; /* Break long words if necessary */
        text-align: center;
        
    }
    .mod3-card{
        display: none;
    }
    .hide-card{
        width:85vw;
        height:31.37vw;
        background-color: white;
        padding: 32px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
        display: flex;
        flex-direction: column;
    }
    .see-more{
        text-align: center;
        margin-top: 24px;
    }
    .card{
        display: flex;
        justify-content: space-between;
    }
    .col1-card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .mod3-card p{
        font-family: var(--smaller-font);
        color: #403B3B;
        text-align: left;
    }
    .hide4{
        display:none;
    }
    .hide5{
        display:block;
    }
    .list ul{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (min-width:400px) and (max-width:810px){
    .section3{
        height:160vw;
        width:100%;
        padding: 0px 0px 32px;
        background-color:#f5f5f5;
    }
    .mod3-text{
        height: 40vw;
        width:100%;
        margin-left: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .mod3-text p{
        display:flex;
        flex-wrap: wrap;
    }
    .mod3-text ul{
        display:none;
    }
    .module3{
        display:flex;
        flex-direction: column;
        margin:0px 7.5vw 0px 7.5vw;
    }
    .mod3-card{
        width:84.99vw;
        height:100vw;
        margin:0px;
        background-color: white;
        padding: 32px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    }
    .hide4{
        display:none;
    }
    .hide5{
        display:block;
    }
    .contact-box{
        width:75.24vw;
        height: 12.01vw;
        border:1px solid rgb(232, 228, 228);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
    }
    .buy{
        width:75.24vw;
        height:43.5px;
       margin-top: 10px;
       background-color: var(--button-color);
    }
    .mod3-card h2{
        margin:0px 0px 16px;
        font-family: var(--bigger-font);
        font-size:7.5vw;
    }
}
/* Media query for mobile screen sizes*/
@media (max-width:410px){
    .section3{
        height:220vw;
        width:100%;
        padding: 0px 0px 32px;
        border-bottom:1px solid black;
        background-color:#f5f5f5;
    }
    .mod3-text{
        height: 40vw;
        width:100%;
        margin-left: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .mod3-text h2{
        font-size: 9.6vw;
    }
    .mod3-text p{
        display:none;
    }
    .mod3-text ul{
        display:none;
    }
    .module3{
        display:flex;
        flex-direction: column;
        margin:0px 7.5vw 0px 7.5vw;
    }
    .mod3-card{
        width:84.99vw;
        height:120vw;
        margin:0px;
        background-color: white;
        padding: 32px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    }
    .hide4{
        display:none;
    }
    .hide5{
        display:block;
    }
    .contact-box{
        width:70.24vw;
        height: 10.01vw;
        border:1px solid rgb(232, 228, 228);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
    }
    .content-box select{
        border: none; 
        width:70.24vw;
        height: 10.01vw;
        padding: 20px 40px 20px 0px;
        font-size: 24px; 
        text-align: end;
    }
    .buy{
        width:75.24vw;
        height:11vw;
       margin-top: 10px;
       background-color: var(--button-color);
    }
    .mod3-card h2{
        margin:0px 0px 16px;
        font-family: var(--bigger-font);
        font-size:6vw;
    }
}
.info{
    padding:80px 0px;
    height:280px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info h2{
    font-family: var(--bigger-font);
    font-weight: 600;
    font-size: 40px;
    width:640px;
    height:120px;
}
@media(min-width:550px) and (max-width:700px){
    .info{
        height: 300px;
       
    }
    .info h2{
        max-width: 430px;
        height:151px;
        margin-left: 20px;
        margin-right:20px;
    }
}
@media(max-width:550px){
    .info{
        height: 350px;
    }
    .info h2{
        max-width: 430px;
        height:200px;
        margin-left: 20px;
        margin-right:20px;
    }
}
/* Styling for animation section one */
.anime-parent{
    height:3846px;
    display:flex;
}
.animation1-left{
    width:50%;
    height:1174px;
    position: sticky;
    top: 68px;
    background-color:rgba(239,238,234,255);
    display:flex;
    justify-content: center;
}
#fixedImage{
    height:650px;
    width:450px;
    position: absolute;
    top:80px;
}
.text-head{
    font-size: 32px;
    font-weight: 300;
    margin:0px 0px 8px;
}
.text-mid{
    font-size:20px;
    font-weight: 200;
}
.anime1-sec1, .anime1-sec2, .anime1-sec3{
    font-weight: 300;
    font-family: var(--smaller-font);
    height:272px;
    width:407.19px;
}
.animation1-right{
    display: flex;
    justify-content: center;
    padding:0px 7.5vw 0px 6.34vw;
}
.anime{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.learn-more{
    height:32px;
    width:125.13px;
    margin:40px 0px 0px;
}
#fixedImage {
    height: 650px;
    width: 450px;
    position: absolute;
    top: 80px;
    
    transform-origin: center; /* Make the image grow from the center */
    transition: transform 0.3s ease-in-out;
}

@keyframes popOut {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(1.2); /* Scale up to create the pop effect */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}

#fixedImage.pop-out {
    animation: popOut 0.5s ease-in-out; /* Apply the pop-out animation */
}
.animation1-sm{
    display:none;
}
@media(max-width:990px){
    .anime-parent{
        display:none;
    }
    .animation1-sm{
        display:block;
    }
    .section1-sm, .section2-sm, .section3-sm{
        margin-left:10vw;
        margin-right: 10vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .sm-anime-img{
        padding:80px 0px 24px;
    }
    .learn-more{
        margin-top: 40px;
    }
}

/* Styling of animation2 section */
.animation2{
    width:100%;
    height:59.27vw;
    display:flex;
}
.anime2-left{
    width:50%;
    height:100%;
    background-color: rgba(230,185,95,255);
    padding:80px 0px 80px 4.99vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.anime2-left h2{
    font-size: 32px;
    margin:0px 0px 24px;
    font-family: var(--bigger-font);
    font-weight: 550;
}
.switch2{
    background-color: rgba(230,185,95,255);
    height:64px;
    width:38.25vw;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0px;
    border-bottom: 1px solid black;
}
.content-title{
    font-size: 16px;
    font-family: var(--smaller-font);
    font-weight: 300;
}
.anime2-left p{
    padding:0px 0px 24px;
}
.slide3{
    background-image: linear-gradient(to right,rgba(230,185,95,255) 50%, var(--button-color) 50%);
    border:1px solid rgba(230,185,95,255);
    background-color:rgba(230,185,95,255) ;
    font-size: 13px;
    font-weight: 550;
    height: 32px;
    width:110.5px;
}
.drop-content1{
    font-size: 20px;
    font-family: var(--smaller-font);
    height:120px;
    width:38.25vw;
    font-weight: 100;
    color: #241C15;
    padding:0px 0px 24px;
}
.drop-content2{
    font-size: 20px;
    font-family: var(--smaller-font);
    height:84px;
    width:38.25vw;
    font-weight: 100;
    color: #241C15;
    padding:0px 0px 24px;
}
.drop-content3{
    font-size: 20px;
    font-family: var(--smaller-font);
    height:60px;
    width:38.25vw;
    font-weight: 100;
    color: #241C15;
    padding:0px 0px 24px;
}
.anime2-right {
    width:50%;
    height:100%;
}
#dynamicImage {
    width: 100%;
    height:59.27vw;
}
.extra-info{
    display:none;
}
.sm-animation2{
    display:none;
}
/* Media queries for Animation section 2 */
@media (max-width:990px){
    .animation2{
        display:none;
    }
    .sm-animation2{
        display: block;
        width:100%;
        height:auto;
        padding:80px 7.5vw;
        background-color: rgba(230,185,95,255) ;
    }
    .row1{
        width:100%;
    }
    .switch2{
        width:85vw;
    }
    .drop-content1, .drop-content2, .drop-content3{
        width:85vw;
    }
}
#fixImg {
    height: 650px;
    width: 450px;
    position: absolute;
    top: 80px;
    
    transform-origin: center; /* Make the image grow from the center */
    transition: transform 0.3s ease-in-out;
}

#fixImg.pop-out{
    animation: popOut 0.5s ease-in-out;
}

/* Styling of data section */
.data{
    width:100%;
    height:55vw;
    padding:80px 0px 80px;
    display:flex;
    justify-content: center;
}
.grid-data{
    display: flex;
    
}
.data-content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.grid-data ul{
    display:flex;
    flex-direction: column;
}
.data-head{
    width:600px;
    height: 80px;
    margin:0px 0px 16px;
}
.data-head h2{
    font-size: 40px;
    font-family: var(--bigger-font);
    color:#241C15;
    font-weight: 550;
}
.data-content ul{
    list-style-type: none;
}
.data-box{
    width:28.8vw;
    height: 9.68vw;
    padding:24px;
}
.data-img{
    height:96px;
    width:96px;
}
.data-box a{
    width:22.5vw;
    height: 5.98vw;
    text-decoration: none;
    display:flex;
    gap:0.8rem;
}
.data-box:hover{
    background-color: #f3f2f2;
}
.company-name{
    padding:4px 0px;
    font-family: var(--smaller-font);
    font-size: 16px;
    font-weight: 400;
    color: #241C15;
}
.company-info{
    color:#241C15A6;
    font-size: 13px;
    font-family: var(--smaller-font);
}
.data-slider{
    width:235.11px;
    height:32px;
    font-size:16px;
    color:#241C15;
}
.data-sm{
    display:none;
}
.data3-content{
    display:none;
}
@media (min-width:1211px) and (max-width:1346px){
    .data-box{
        height: 9.2vw;
    }
    .data{
        height:60vw;
    }
}
@media (min-width:992px) and (max-width:1211px){
    .data-box{
        height:12vw;
    }
    .data{
        height:70vw;
    }
}

/* For screens between 768px and 992px */
@media (max-width: 992px) and (min-width: 768px) {
    .data {
        display: none;
    }
    .data-sm {
        width: 100%;
        height: 120vw;
        display: flex;
        justify-content: center;
        margin-left: 0; /* No need for left margin here */
        padding-left: 10px; /* Use padding instead for small adjustment */
    }
    .data-box {
        width:28.8vw;
        height: 9.68vw;
        padding:24px;
    }
    .data-box a {
        width:22.5vw;
        height: 16.7vw;
        text-decoration: none;
        display: flex;
        gap: 0.8rem;
    }
    .data-head-sm h2 {
        font-family: var(--bigger-font);
        font-size: 38.8px;
        max-width: 83.3vw; /* Use max-width */
        height: 10vw;
        margin-bottom: 16px;
    }
    .grid-data-sm {
        display: flex;
        gap: 6rem;
        width: auto;
        height: 90vw;
        padding-bottom: 40px;
        padding-left: 10px; /* Left padding instead of margin */
    }
    .grid-data-sm ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .data-img {
        height: 96px;
        width: 96px;
    }
}

/* For screens between 607px and 768px */
@media (max-width: 768px) and (min-width: 607px) {
    .data {
        display: none;
    }
    .data-sm {
        width: 100%;
        height: 130vw;
        display: flex;
        justify-content: center;
        margin-left: 0; /* Remove left margin */
        padding-left: 5px; /* Add small padding */
    }
    
    .data-box {
        width:28.8vw;
        height: 9.68vw;
        padding:24px;
    }
    .data-box a {
        width:22.5vw;
        height: 20vw;
        text-decoration: none;
        display: flex;
        gap: 0.8rem;
    }
    .data-head-sm h2 {
        font-family: var(--bigger-font);
        font-size: 34px;
        max-width: 80vw; 
        height: 12vw;
        margin-bottom: 16px;
    }
    .grid-data-sm {
        display: flex;
        gap: 5rem;
        width: auto;
        height: 100vw;
        padding-bottom: 40px;
        padding-left: 10px; 
    }
    .grid-data-sm ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .data-img {
        height: 80px;
        width: 80px;
    }
}

/* For screens smaller than 607px */
@media(max-width:607px){
    .data{
        display: none;
    }
    .data-sm{
        display:none;
    }
    .data3-content{
        margin-left: 30px;
        margin-right: 30px;
        display:block;
        flex-direction: column;
        height:200vw;
        justify-content: space-between;
        padding:2.84vw 0px 2.84vw 0px;
    }
    
    .data3-head{
        margin:0px 0px 2.2vw;
        font-size: 7vw;
        font-family: var(--bigger-font);
        font-weight: 500;
    }
    .data-img{
        display:flex;
        gap:1rem;
        
    }
    .data-img li{
        width:40.3vw;
        height:29.23vw;
        background-color: #f2efef;
        padding:2.84vw;
        margin-bottom: 1rem;
    }
    .data-img ul{
        list-style-type: none;
    }
    .data-img a{
        height:23vw;
        padding:16px 0px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .data-img img{
        width:11.36vw;
        height:11.36vw;
    }
    .data-img p{
        font-size: 16px;
        font-family: var(--smaller-font);
    }
}

/*Styling of footer one section */
.footer1{
    background-color: #f5f5f5;
    width:100%;
    height:368px;
    padding:40px 0px;
    font-size: 11PX;
    font-family: var(--smaller-font);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #241C15;
    font-weight: 200;
    gap:0.8rem;
}
.footer1 li{
    width:1280px;
}
.footer1 p{
    width:1280px;
}
.footer1 ul{
    list-style-type: decimal;
}
/* Media queries for footer section 1 */
@media (max-width:1361px)and (min-width:1281px){
    .footer1{
        height:384px;
    }
    .footer1 li, .footer1 p{
        width:1152.6px;
    }
}
@media (max-width:1281px)and (min-width:1135px){
    .footer1{
        height:400px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:1135px)and (min-width:1115px){
    .footer1{
        height:416px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:1115px)and (min-width: 1098px){
    .footer1{
        height:432px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:1098px)and (min-width: 1010px){
    .footer1{
        height:448px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:1010px)and (min-width: 990px){
    .footer1{
        height:464px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:990px)and (min-width: 888px){
    .footer1{
        height:480px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:888px)and (min-width: 773px){
    .footer1{
        height:528px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:773px)and (min-width:759px){
    .footer1{
        height:544px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:759px)and (min-width:700px){
    .footer1{
        height:560px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:700px)and (min-width:588px){
    .footer1{
        height:640px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:588px)and (min-width:540px){
    .footer1{
        height:672px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:540px)and (min-width:520px){
    .footer1{
        height:688px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:520px)and (min-width:510px){
    .footer1{
        height:704px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:510px)and (min-width:484px){
    .footer1{
        height:736px;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:584px) and (min-width:410px){
    .footer1{
        height:158.67vw;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:410px)and (min-width:353px){
    .footer1{
        height:206.8vw;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
@media (max-width:353px){
    .footer1{
        height:258vw;
    }
    .footer1 li, .footer1 p{
        width:90vw;
    }
}
/* Styling for footer 2 */
.footer2{
    height:980.38px;
    padding:60px 0px;
    background-color: #E7B75f;
    font-family: var(--smaller-font);
}
.footer2-content{
   
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.foot2-link{
    font-size: 13px;
    color: #241C15;
    
    text-decoration: underline;      
    text-decoration-color: black;    
}
.foot2-link:hover{
    background-color: var(--button-color);
}
.foot2-sec1 p{
    font-size: 16px;
    font-family: var(--smaller-font);
    color: #241C15;
    padding:0px 16px;
}
.foot2-sec1{
    width:100%;
    display:flex;
    justify-content:center;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}
.sec2-col1{
    display: flex;
    flex-direction: column;
    padding:0px 10px;
    margin:0px 0px 40px;
}
.space{
    margin:0px 0px 10px;
}
.sec2-head{
    margin:0px 0px 24px;
}
.foot2-sec2{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap:4vw;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
.app-icons{
    display:flex;
    padding-top: 3vw;
    justify-content: center;
}
.social-media{
    display:flex;
    margin:0px 30px;
    justify-content: center;
    align-items: center;
}
.social-media li{
    margin:0px 30px;
}
.lang{
    width:233.67px;
    height:38.66px;
    background-color: #E7B75f;
    padding:10px;
    border-color: #231E15;
}
.copy-right{
    display:flex;
}
.copy-right p{
    width:48.46vw;
}
@media (max-width:1101px) and (min-width:961px){
    .foot2-sec2{
        gap:2vw;
    }
}
@media (max-width:961px){
    .footer2{
        display: none;
    }
}